<header>

<div class="header-title">
  <a href="{{ .Site.BaseURL }}" >{{ .Site.Title }} </a> 
<a aria-current="page" href="{{ .RelPermalink }}">
  {{/*  {{ if not .IsHome }}  */}}
{{ if and (not (.IsHome)) (not (in .LinkTitle "Search")) }}
   / {{ .LinkTitle }}
  {{ end }}
</a>
</div>
{{ if not (in .Title "Search") }}
                        {{ with .GetPage "search" }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
<svg
   width="20"
   height="20"
   fill="currentColor"
   class="bi bi-search"
   viewBox="0 0 20 20"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <path
     d="m 13.960497,12.974789 a 7.7277111,8.1542663 0 1 0 -1.66443,1.756303 v 0 q 0.523107,0.125451 1.165101,0.125451 l 4.636627,4.892559 a 1.1888787,1.2545025 0 0 0 1.66443,-1.756303 l -4.636627,-4.89256 A 1.1888787,1.2545025 0 0 0 15.00671,12.974789 Z M 14.31716,8.2076799 a 6.5388325,6.8997636 0 1 1 -13.0776638,0 6.5388325,6.8997636 0 0 1 13.0776638,0"
     id="path1"
     style="stroke-width:1.22126" />
</svg>
</a>
            {{ end }}
{{ end}}
</header>